<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.rest.dao.ShopDao">
	<insert id="insert" parameterType="cn.rest.entity.Shop"
		useGeneratedKeys="true" keyProperty="fb_shop_id">
		insert into `fb_shop` (
		`fb_shop_name`,
		`fb_shop_phone`,
		`fb_shop_address`,
		`fb_shop_email`,
		`fb_shop_password`)
		values (
		#{fb_shop_name,jdbcType=VARCHAR},
		#{fb_shop_phone,jdbcType=VARCHAR},
		#{fb_shop_address,jdbcType=VARCHAR},
		#{fb_shop_email,jdbcType=VARCHAR},
		#{fb_shop_password,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPkSelective" parameterType="cn.rest.entity.Shop">
		update fb_shop
		<set>
			<if test="fb_shop_name != null">
				fb_shop_name = #{fb_shop_name,jdbcType=VARCHAR},
			</if>
			<if test="fb_shop_phone != null">
				fb_shop_phone = #{fb_shop_phone,jdbcType=VARCHAR},
			</if>
			<if test="fb_shop_address != null">
				fb_shop_address = #{fb_shop_address,jdbcType=VARCHAR},
			</if>
			<if test="fb_shop_email != null">
				fb_shop_email = #{fb_shop_email,jdbcType=VARCHAR},
			</if>
			<if test="fb_shop_password != null">
				fb_shop_password = #{fb_shop_password,jdbcType=VARCHAR},
			</if>
			<if test="fb_shop_token != null">
				fb_shop_token = #{fb_shop_token,jdbcType=VARCHAR},
			</if>
			<if test="fb_expired_at != null">
				fb_expired_at = #{fb_expired_at,jdbcType=TIMESTAMP},
			</if>
		</set>
		where fb_shop_id = #{fb_shop_id,jdbcType=INTEGER}
	</update>
	<sql id="Base_Column_List">
		fb_shop_id,
		fb_shop_name,
		fb_shop_phone,
		fb_shop_address,
		fb_shop_email,
		fb_shop_password,
		fb_shop_token,
		fb_expired_at,
		fb_created_at,
		fb_updated_at
	</sql>
	<select id="selectByPk" resultType="cn.rest.entity.Shop"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from fb_shop
		where fb_shop_id = #{fb_shop_id,jdbcType=INTEGER}
	</select>
</mapper>