<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.rest.dao.UserDao">
	<insert id="insert" parameterType="cn.rest.entity.User"
		useGeneratedKeys="true" keyProperty="fb_user_id">
		insert into `fb_user`(
		`fb_user_name`,
		`fb_user_phone`,
		`fb_user_password`)
		values(
		#{fb_user_name,jdbcType=VARCHAR},
		#{fb_user_phone,jdbcType=VARCHAR},
		#{fb_user_password,jdbcType=VARCHAR}
		)
	</insert>
	<select id="getByPhone" resultType="cn.rest.entity.User">
		select * from fb_user where fb_user_phone = #{phone,jdbcType=VARCHAR}
	</select>
</mapper>